*{
    color: #fff;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcicon{
    width: 50px;
    height: 50px;
}

.calculator{
    display: none;
    width: 350px;
    height: 510px;
    background-color: #313140;
}

.visible {
    display: flex;
    flex-direction: column;
}

.headbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left{
    margin: 10px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    *{
        font-size: 16px;
    }
}

.menubtn{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubtn:hover{
    cursor: pointer;
    background-color: red;
}

.numberarea{
    height: 100px;
}

.bottom{
    text-align: right;
    p{
        margin-right: 25px;
        font-size: 32px;
        font-weight: bolder;
    }
}

.upper{
    text-align: right;
    p{
        margin-right: 25px;
        font-size: 16px;
        color: rgb(154, 154, 165);
    }
}

.operatorarea{
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: 0 5px;

    button{
        background-color: rgb(22, 17, 17);
        border-radius: 6px;
    }
}

.clicked {
    background-color: #b4b4cc !important;
    transition: ease 0.3s;
}